// Includes
@import "pure/all";

// Variables
$blue: #258ADA;
$red: red;

// Additions
.cart {
	background-color: $blue;
	height: 68px;
}

.menu-box {
  	margin: 25px auto;
  	max-width: 1200px;
  	color: white;
	text-align: right;
}

.content-box {
	margin-left: auto ;
  	margin-right: auto ;
  	max-width: 1500px;
}

.empty-cart-button {
	margin: 0 0 0 15px;
	padding: 5px;
	background-color: $red;
	color: white;
}

.product-box {
	padding: 40px 0px 50px;
	border-bottom: 1px solid LightSteelBlue;
}

.title h1{
	margin: 0;
}

.padded-box {
	padding: 0px 25px;
}

.buy-button {
	padding: 8px;
	background-color: $blue;
	color: white;
	text-transform: uppercase;
	font-weight: bold;

}